body{
	background-image: linear-gradient(to right, #7474BF, #348AC7);
}
#txtCreateAcc {
    color: #ffd633;
    font-weight: bold; 
   
}
#questionAccount{
    color:white;
    text-align: center;
    
}
#logo{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        padding: 10px;
    
}

.login-form {
	width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
       background: #f7f7f7;
       box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
       padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.incidentInfoWindow{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: darkblue;
    /* added */
    display: block;
    /* overflow: auto; */
  
}

/* modal image */

.imgModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:50px;
    height:50px;
  }
  
.imgModal img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 72px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

    /* enable accordion on info window */
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */

    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */

    }

    /*content infowindow*/
    #contentInfowindow {
      display:flex;
      overflow: auto;
      width:200px;
    }

 /*    #left:after{
      content:".";
      display:"block";
      height:0;
      clear:"both";
      visibility:hidden;
    } */

    #left{
      float:left;
      width:25%;
      margin:1px;
      /* padding:0.2em; */
      background: rgb(255, 255, 255);
    }

    #right{
      float:right;
      min-height: 55px;
      width:70%;
      margin:1px;
      /* padding:0.2em; */
      background: rgb(255, 255, 255);
    }

    #object3{
      /*background-color: lightblue;*/
      overflow:auto;
    }

    /* css buttons infowindow multi incident */
.wrapper {
      text-align: center;
      /* display:inline-block; */
      /* background-color: rgb(241, 174, 86);  */
}

  .button{
    background-color: rgb(47, 149, 231);
    padding: 5px 10px;
    color: #f7f7f7;
    text-align: center;
    margin:auto;
    left:0;
  }
#btnMore{
background-color: rgb(223, 174, 14);
}

/*     @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
    .panel-modest .panel-body {
      display: inline-block;
    } */

    /* chart css */
   
    canvas {
      border: 1px red;
    }
    
    .chart-container {
      position: relative;
      margin: auto;
      height: 80vh;
      width: 80vw;
    }

    /* dialog box */
 /*    .ui-dialog-titlebar-close {
      background-color: yellowgreen;
  } */

     .ui-dialog, .ui-dialog-content {
      /*border:10px solid orange;*/   /** change css properties to match your theme*/
      background-color: rgb(247, 211, 157) !important;
      color: red;
      }

        /* back main pg button */
      .backMainPg{
        color: white;
        font-weight: bold;
        text-align: center
      }

      #aMainPg{
        color: white;
      }

/*       #message{
        height:200px;
        font-size:14pt;
      } */